<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Crawler2.Properties.CrawlerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Crawler2.Properties.RootDomains" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Crawler2.Properties.CrawlerSettings>
            <setting name="startUrl" serializeAs="String">
                <value>https://www.newbalance.com</value>
            </setting>
        </Crawler2.Properties.CrawlerSettings>
        <Crawler2.Properties.RootDomains>
            <setting name="Setting" serializeAs="String">
                <value>https://newbalance.com</value>
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value>https://www.newbalance.com</value>
            </setting>
            <setting name="Setting2" serializeAs="String">
                <value>http://newbalance.com</value>
            </setting>
            <setting name="Setting3" serializeAs="String">
                <value>http://www.newbalance.com</value>
            </setting>
        </Crawler2.Properties.RootDomains>
    </userSettings>
</configuration>